@model DEMO.Models.Teacher
@using DEMO.Resources
@using Microsoft.AspNetCore.Localization


@inject LocService SharedLocalizer
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> @SharedLocalizer.GetLocalizedHtmlString("Delete")</h1>

<h3> @SharedLocalizer.GetLocalizedHtmlString("IfDeleteSureTeacher")</h3>
<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @SharedLocalizer.GetLocalizedHtmlString("TeacherId")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer.GetLocalizedHtmlString("TeacherName")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer.GetLocalizedHtmlString("TeacherPhone")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phonenumber)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer.GetLocalizedHtmlString("TeacherAddress")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value=@SharedLocalizer.GetLocalizedHtmlString("Delete") class="btn btn-danger" /> |
        <a asp-action="Index" class="btn-outline-info"> @SharedLocalizer.GetLocalizedHtmlString("BackList")</a>
    </form>
</div>
