@model IEnumerable<DEMO.Models.AssignedCourse>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h1>All Assigned Courses</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseDate)
            </th>
            <th>
                Teacher Name
            </th>

            <th>
                Course Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseDate)
            </td>
            <td>
                @findTeacherName(item.teacherID)
                @*@Html.DisplayFor(modelItem => item.teacher.name)*@
            </td>
            <td>
                @findCourseName(item.courseID)
                @*@Html.DisplayFor(modelItem => item.teacher.name)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>

@{

    string findTeacherName(int id)
    {
        DEMO.APICalingClass.APICalling _api = new DEMO.APICalingClass.APICalling();
        var trList = _api.getTeachers();
        string name = trList.ToList().Find(tr => tr.Id == id).name;
        return name;

    }

    string findCourseName(int id)
    {
        DEMO.APICalingClass.APICalling _api = new DEMO.APICalingClass.APICalling();
        var csList = _api.getCourses();
        string name = csList.ToList().Find(tr => tr.Id == id).courseName;
        return name;

    }


}

  @*var teachers = (IList<DEMO.Models.Teacher>
    )ViewData["teachers"];

    var courses = (IList<DEMO.Models.Course>)ViewData["courses"];*@
