@model DEMO.Models.Student
@using DEMO.Resources
@using Microsoft.AspNetCore.Localization


@inject LocService SharedLocalizer
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>  @SharedLocalizer.GetLocalizedHtmlString("Delete")</h1>

<h3>  @SharedLocalizer.GetLocalizedHtmlString("IfSureDeleteStudent")</h3>
<div>
    <h4>  @SharedLocalizer.GetLocalizedHtmlString("Student")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @SharedLocalizer.GetLocalizedHtmlString("StudentId")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer.GetLocalizedHtmlString("StudentName")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer.GetLocalizedHtmlString("StudentPhone")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phonenumber)
        </dd>
        <dt class="col-sm-2">
            @SharedLocalizer.GetLocalizedHtmlString("StudentAddress")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value=  @SharedLocalizer.GetLocalizedHtmlString("Delete") class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-info">  @SharedLocalizer.GetLocalizedHtmlString("BackList")</a>
    </form>
</div>
